{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block contenu %}
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <table id="dtBasicExample" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Nom de l'Activite
                    </th>
                    <th class="th-sm">Description de l'Activite 
                    </th>
                    <th class="th-sm">Materiel necessaire 
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for a in listeA %}
                    <tr>
                        <td>{{a.nomAct}}</td>
                        <td>{{a.descAct}}</td>
                        <td>{{a.nomMateriel}}</td>
                    </tr>
                {% endfor %}
        </table>


    </div>


{% endblock %}