{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block contenu %}
    <div class="container">

        <form class="well form-horizontal" action="index.php?page=ajouterPresta" method="post"  id="contact_form">
            <fieldset>
                <legend>Ajouter une Prestation</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label">Nom de la prestation </label>  
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  name="typePrest" placeholder="Nom" class="form-control"  type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" >Montant</label> 
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="montant" placeholder="Montant €" class="form-control"  type="number">
                        </div>
                    </div>
                </div>

                <div class="form-group"> 
                    <label class="col-md-4 control-label">Activité</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="activite" class="form-control selectpicker" >
                                <option value=" " >Activités</option>
                                {% for a in listeA %}
                                    <option>{{a.nomAct}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning" >Envoyer <span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <script src="../../web/js/modules/formAjouterClient.js" type="text/javascript"></script>

{% endblock %}