{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block contenu %}
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <table id="dtBasicExample" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Nom
                    </th>
                    <th class="th-sm">Prenom
                    </th>
                    <th class="th-sm">Date de Naissance
                    </th>
                    <th class="th-sm">Code Postal
                    </th>
                    <th class="th-sm">Ville
                    </th>
                    <th class="th-sm">Rue
                    </th>
                    <th class="th-sm">Telephone
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for c in listeC %}
                    <tr>
                        <td>{{c.nom}}</td>
                        <td>{{c.prenom}}</td>
                        <td>{{c.dateNaiss}}</td>
                        <td>{{c.cp}}</td>
                        <td>{{c.Ville}}</td>
                        <td>{{c.rue}}</td>
                        <td>0{{c.Tel}}</td>
                    </tr>
                {% endfor %}
        </table>
        
    </div>


{% endblock %}


