{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block contenu %}
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <table id="dtBasicExample" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Type de Prestation
                    </th>
                    <th class="th-sm">Montant
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for p in listeP %}
                    <tr>
                        <td>{{p.typePrest}}</td>
                        <td>{{p.montant}} €</td>
                        <td>{{ form.message }}</td>
                    </tr>
                {% endfor %}
        </table>


    </div>


{% endblock %}