{% extends "base.html.twig" %}

{% block title %} {% endblock %}
{% block contenu %}
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <table id="dtBasicExample" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Type de Prestation
                    </th>
                    <th class="th-sm">Montant
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for p in listeP %}
                    <tr>
                        <td>{{p.typePrest}}</td>
                        <td>{{p.montant}} €</td>
                    </tr>
                {% endfor %}
        </table>
        <div class="container">
            <div class="row">
                <a class="page-link" href="index.php?page=ajouterPresta">
                    Ajouter une Prestation
                </a>

            </div>
        </div>

    </div>


{% endblock %}